<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>DemoServlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- thẻ servlet để khai báo servlet để khai báo 1 servlet, mục đích map 
		tên servlet với class -->
	<servlet>
		<servlet-name>Demo1</servlet-name>
		<servlet-class>com.trancuong.Demo1</servlet-class>
	</servlet>

	<!-- thẻ servlet-mapping để map tên servlet với tên đường dẫn trên trình 
		duyệt -->
	<servlet-mapping>
		<servlet-name>Demo1</servlet-name>
		<url-pattern>/demo</url-pattern>
	</servlet-mapping>

<!-- đoạn này có thể được thay bằng annotation: 
	@WebServlet(urlPatterns={"/testconfig"}, initParams={
		@WebInitParam=({name="cương", value=" Cương was a happy man"})
	}

	//Đoạn code dưới này có thể được thay thể bằng đoạn code annotation trên.
-->
	<servlet>
		<servlet-name>ServletConfigDemo</servlet-name>
		<servlet-class>com.trancuong.ServletConfigDemo</servlet-class>
		<init-param>
			<param-name>cương</param-name>
			<param-value>Trần Cương was a happy man</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletConfigDemo</servlet-name>
		<url-pattern>/testConfig</url-pattern>
	</servlet-mapping>
	
</web-app>